* {
  padding: 0;
  margin: 0;
}

.custom-navbar {
  background-color: #f2eee9;
  padding: 10px 13px 10px 24px;
}
.custom-navbar .navbar-toggler {
  border: none;
}
.custom-navbar .navbar-nav .nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: black;
  text-decoration: none;
}
.custom-navbar .navbar-nav .nav-link:hover {
  color: black;
  text-decoration: underline;
}

#logo {
  height: 28px;
}

.titular1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 80px;
  line-height: 86px;
  color: black;
}

.titular2 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 42px;
  line-height: 46px;
  color: black;
}

.titular3 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  color: black;
}

.parrafo1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

main {
  background-color: #f2eee9;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
}

.grid-container-home {
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding: 0 30px;
  margin: auto 0;
}
.grid-container-home .intro-home {
  grid-column: 1;
}
.grid-container-home .boton-intro-home {
  grid-column: 1;
}

.services {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 30px;
}
.services .titular1 {
  grid-column: 1/span 5;
  margin-top: 0px;
}
.services .titular2 {
  grid-column: 1/span 5;
  margin-top: 0px;
}
.services .parrafo1 {
  grid-column: 2/span 6;
  margin-bottom: 30px;
}
.services h2 span {
  font-weight: bold;
}
.services ul li {
  list-style-type: none;
}

.otros-servicios {
  padding: 0;
  margin: 0;
}

.work {
  padding: 10px 21px;
  display: flex;
  align-items: center;
}
.work .projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  justify-content: center;
  align-items: center;
}
.work .projects-container a {
  text-decoration: none;
  color: black;
}
.work .projects-container .portadaProyecto {
  width: calc(33vw - 42px);
  margin-bottom: 14px;
}

#bandaProyectos {
  background-color: black;
}
#bandaProyectos p {
  color: white;
}
#bandaProyectos a {
  color: white;
}
#bandaProyectos img {
  width: 400px;
}

#diagramaCreativo {
  height: 300px;
}

.about ul {
  list-style-type: none;
}
.about a {
  color: black;
}

.contact {
  text-align: center;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  padding: 24px;
  margin-top: auto;
}
footer ul li {
  list-style: none;
}
footer a {
  color: white;
}

@media (max-width: 768px) {
  .titular1 {
    font-size: 42px;
    line-height: 46px;
  }
  .titular2 {
    font-size: 30px;
    line-height: 36px;
  }
  .parrafo1 {
    font-size: 14px;
    line-height: 20px;
  }
  .custom-navbar {
    padding: 10px 0px 10px 14px;
  }
  .grid-container-home {
    grid-template-columns: 1fr;
  }
  .grid-container-home .intro-home {
    font-size: 42px;
    line-height: 46px;
  }
  .services .titular1 {
    grid-column: 1/span 6;
  }
  .services .titular2 {
    grid-column: 1/span 6;
  }
  .work .projects-container {
    grid-template-columns: 1fr;
    gap: 5px;
  }
  .work .projects-container .portadaProyecto {
    width: calc(100vw - 50px);
  }
  footer {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .titular1 {
    font-size: 60px;
    line-height: 68px;
  }
  .titular2 {
    font-size: 34px;
    line-height: 40px;
  }
  .custom-navbar {
    padding: 10px 0px 10px 20px;
  }
  .services .titular1 {
    grid-column: 1/span 6;
  }
  .services .titular2 {
    grid-column: 1/span 6;
  }
  .work .projects-container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .work .projects-container .portadaProyecto {
    width: calc(50vw - 45px);
  }
}

/*# sourceMappingURL=style.css.map */
