@import "variables";

@mixin titular1{
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 80px;
    line-height: 86px;
    color: $dark-color-1;
}

@mixin titular2{
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 42px;
    line-height: 46px;
    color: $dark-color-1;
}

@mixin titular3{
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    color: $dark-color-1;
}

@mixin parrafo1{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: $dark-color-1;
}